---
import BaseLayout from './BaseLayout.astro';
import Breadcrumbs from '../components/Breadcrumbs.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout>
  <div class="w-full h-screen px-12 py-24 flex flex-col justify-center items-center text-center bg-cover bg-fixed bg-[url('../img/noise-grad-byr-1.svg')] paralax ">
    <h1 class="text-3xl md:text-6xl font-extrabold h-20">{frontmatter.title}</h1>
    <p class="font-mono text-lg py-6">{frontmatter.description}</p>
    <p class="font-mono text-lg py-1"><span class="font-bold">Published on: </span>{frontmatter.pubDate.slice(0,10)}</p>
    <p class="font-mono text-lg py-1"><span class="font-bold">Tags: </span> 
    {frontmatter.tags.map((tag) => (
      <a href={`/tags/${tag}`}>{tag}, </a>
    ))}
    </p>
  </div>
  <section class="bg-kinda-white font-mono max-w-full h-auto px-12 py-24 prose-xl">
    <Breadcrumbs title= {frontmatter.title}/>
    <img class="prose-img:rounded-xl" src={frontmatter.image.url} alt={frontmatter.image.alt} />
    <slot />
  </section>
</BaseLayout>
